*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between ;
    margin-left: 66%;
}
ul{
    margin-top: -1%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
 
}
ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategrey;
    margin-top: -3%;
}
ul li a:hover{
    color: blue;
}
.info{
    margin-left: 7%;
    margin-top: 6%;

}
.info h1{
    font-size: 65px;
    color: orangered;

}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    color:blue;

}
.info h4{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36, 32, 30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: 2s;
}
.info a:hover{
    background:  red;
}
 .info span {
    color:blue;
}
 .text-animation{
    color:blueviolet;
    border-right: 3px solid orangered;
    width:0;
    white-space: nowrap;
    overflow:hidden;
    animation:typing steps(15,end)forwords infinte 8s;
}
@keyframes typing{
    0%{
        width:0;
    }
    50%{
        width: 100%;
    }
}